- unless tasks.empty?
  %ul#list
    - for task in tasks
      %li
        #task{ :id => task.id }
          = check_box_tag(task.id, "complete", task.complete)
          = link_to task.title, "", :class => active_task?(active_task_id, task.id)