%ul#list_complete
  %li
    #task{ :id => "${task.id}" }
      %input{ :type => "checkbox", :id => "${task.id}", :checked => true }
      ${task.project.name:Check} ${task.title} ${task.worktype:ForCompleteTask}