%ul#list
  %li
    #task{ :id => "${task.id}" }
      %input{ :type => "checkbox", :id => "${task.id}", :checked => false }
      %a{ :href => "" } ${task.project.name:Check} ${task.title} 
      ${task.worktype:ForUncompleteTask}