%ul#list
  %li
    #task{ :id => "${id}" }
      %input{ :type => "checkbox", :id => "${id}", :checked => false }
      %a{ :href => "" } ${project.name:Check} ${title}
      ${worktypes:ForUncompleteTask}