.add_task.link
  = link_to "Add Task", "#"
  
.add_task.form{ :style => "display:none" }
  - remote_form_for :task, :update => 'tasks_list' do |f|
    = f.text_field :title, :class => "task_title"
    = link_to "Cancel", "#"