#tasks_list
  = render :partial => "list", :locals => { :tasks => @tasks }

#add_task
  = render :partial => "new"

#complete_tasks_list
  = render :partial => "list_complete", :locals => { :tasks => @complete_tasks }