/ #timer
/  = render :partial => "timer"

/#tasks_list
/  = render :partial => "list", :locals => { :tasks => @tasks, :active_task_id => @active_task_id }
#messages

#add_task
  = render :partial => "new"

/#complete_tasks_list
/  = render :partial => "list_complete", :locals => { :tasks => @complete_tasks }