a:hover { background-color: #FFFF88 }

a {
  color: #0066CC;
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

.task_title {
  background: #F5FAFF none repeat scroll 0 0;
  border: 1px solid #7EBAFF;
  color: #444444;
  font-family: arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  width: 100%;
}

.task_title.example {
  color: #AAAAAA;
}

.inputError {
  background: #FFCEBF;
  color: #333333;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 2px;
}

ul {
  padding: 1px;
  list-style-type: none;
}

ul li {
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}

ul li div {
  padding-left: 20px;
}

ul li input {
  left: -2px;
  top: -2px;
  position: absolute;
}

ul#list li a {
  font-size: 12px;
  display: block;
}

ul#list li a.active {
  font-size: 16px;
  line-height: 16px;
  background-color: #CCFFBF;
}

ul#list li a.active:hover {
  background-color: FF8888;
}

ul#list_complete li {
  border: none;
  text-decoration: line-through;
  color: #AFAFAF;
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
}

div#timer {
  background-color: #FFCEBF;
  border: 1px solid #B42A00;
  height: 30px;
  margin-bottom: 2px;
  padding: 2px;
  position: relative;
}

div#timer.active {
  background-color: #CCFFBF;
  border: 1px solid #2AB400;
}

div#timer.active #total_display {
  background-color: #8EFF6F;
}

div#timer a {
  display: block;
  float: left;
  height: 12px;
  width: 12px;
  background: transparent url(/images/stop.gif) no-repeat scroll 1px 50%;
}

#stop:hover { background-color: FF8888 }

div#timer p {
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 0px;
}

div#timer p small {
  font: 11px;
  font-weight: normal;
}

div#timer p#timer_display {
  color: #333333;
  float: right;
  font-size: 32px;
  line-height: 28px;
}

div#timer p#total_display {
  background-color: #FF8D6F;
  bottom: 0px;
  font-size: 16px;
  left: 0px;
  line-height: 11px;
  padding: 4px 2px 2px;
  position: absolute;
  text-align: left;
}

div#timer p#total_display label {
  font-size: 11px;
  font-weight: normal;
}